---
import BaseLayout from '../../layouts/BaseLayout.astro';
import "./index.css";

const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="tags">
      {tags.map((tag) => (
        <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
</BaseLayout>
 
<!--
 The  tags  array is created by iterating over all the posts and extracting the tags from the frontmatter. The  pageTitle  is set to "Tag Index". 
 The  BaseLayout  component is imported from the  BaseLayout.astro  file. The  pageTitle  is passed as a prop to the  BaseLayout  component. 
 The  tags  array is iterated over and each tag is displayed as a link. The link points to the tag page for that tag. 
 The  index.css  file is imported to style the tags. 
 The  BaseLayout  component is used to wrap the tags. 
 The  BaseLayout  component is defined in the  BaseLayout.astro  file. 
 The  BaseLayout  component is a layout component that wraps the content of the page. It includes the header, footer, and main content area. 
 The  BaseLayout  component takes a  pageTitle  prop, which is used to set the title of the page. 
 The  BaseLayout  component is defined as follows:
-->